<legend id="what-is">Ustawienia sekcji</legend>
<label for="bg-section">bg</label>
<input type="text" id="bg-section" class="input-xxlarge" autofocus required value="<%= bg %>"> <i class="icon-plus"
  id="add-bg"></i>
<br>
<div><label for="description">Opis</label></div>
<textarea id="description" rows="10" cols="100" class="input-xxlarge" required><%= description %></textarea>
<br>
<div class="clear"></div>
<label for="bg-section">kolor navigacji</label>
<input type="color" class="input-mini" id="color-section" required value="<%= color %>">
<br>
<label for="color-klapsdra">kolor klapsdry</label>
<input type="color" class="input-mini" id="color-klapsdra" required value="<%= colorklapsdra %>">
<br>
<label for="alpha">klapsdra(alpha)</label>
<input type="text" class="input-mini" id="alpha" required value="<%= alpha %>">
<hr>
<!--<input type='submit' class="btn-save" id="btn-save" value="ZAPISZ">-->
<button type='submit' class="btn btn-success" id="btn-save" value="ZAPISZ">ZAPISZ</button>

